<%- include ('partials/top'); %>
<header><%- include ('partials/navbar'); %></header>
<main>
    <div class="boxIndex">
        <h1 class="text-center">Bem vido a nossa Home!</h1>
        <hr>
        <p class="text-dark margin-left-right-5por">
            <% if (usuario) {%> 
            <%=usuario.nome%>
            <% } %>
        </p>
        <p class="text-dark text-justify margin-left-right-5por">Seja bem-vindo.</p>
        <div>

            <% if (usuario.email !== 'admin@gmail.com') { %>
            <form action="/empresaUsuario/select" method="post">
            <nav class="navbar navbar-light tituloNavEmpUser">
                <div class="container-fluid">Selecione uma Empresa </div>
            </nav>            
        
            <div class="input-group  mb-3">
                <span class="input-group-text">Lista Empresas do Usuário</span>
                <select  class="form-select" id="empresa-Id" name="id" required>     
                    <% empusers.forEach(function(empuser){ %>
                        <%  empresas.forEach(function(empresa) { %>
                          <%  if (empuser.empresaId == empresa.id  && empuser.usuarioId == usuario.id){  %>
                            <option value="<%=empuser.empresa.id%>"><%=empuser.empresa.razao%> - <%=empuser.empresa.fantasia%></option> 
                          <% } %>
                        <% } ) %>
                    <% } )%>
                </select>
            </div>


        <div class="col-12"> 
            <input class="button btn btn-sm btn-primary" type="submit" value="Salvar">
            <input class="button btn btn-sm btn-secondary" type="reset" value="Limpar">
        </div>   

        </form>
        <% } %>
    </div>
</main>   

<%- include ('partials/footer'); %>

<%- include ('partials/down'); %>