<%- include ('partials/top'); %>
<header><%- include ('partials/navbar'); %></header>
<main>
    <div class="boxIndex">
        <h1 class="text-center">Bem vido a nossa Home!</h1>
        <hr>
        <p class="text-dark margin-left-right-5por">
            <% if (usuario) {%> 
            <%=usuario.nome%>
            <% } %>
        </p>
        <p class="text-dark text-justify margin-left-right-5por">Seja bem-vindo.</p>
        
        <form action="">
                        

        </form>

    </div>
</main>   

<%- include ('partials/footer'); %>

<%- include ('partials/down'); %>