<%- include ('../partials/top'); %>
<%- include ('../partials/messageModal'); %>
<header><%- include ('../partials/navbarAdmin'); %></header>
 


    <main class="flex-container direction-column">

        <h1 class="text-center">CADASTRO DE EMPRESA</h1> 

        <div class="boxNewEmpresa">

              
        <form action="/empresa/save" method="POST" class="empresa needs-validation" novalidate>
                
          
            <div class="input-group  mb-3">
                <span class="input-group-text bg-color-ncm">Razão Social</span>
                <input class="form-control" type="text" id="id-razao" name="razao" value="" placeholder="Informe Razão Social" autofocus required>
            </div>

        
            
            <div class="input-group  mb-3">
                <span class="input-group-text">Nome Fantasia </span>
                <input class="form-control" type="text" id="id-fantasia" name="fantasia" value="" placeholder="Informe Nome Fantasia" required>
            </div>

        

            <div class="input-group  mb-3">
                <span class="input-group-text">CNPJ</span>
                <input class="form-control" type="number"  step="1" id="id-cnpj" name="cnpj" value="" required>
                <span  class="input-group-text">Insc. Estadual</span>
                <input class="form-control" type="number"  step="1" id="id-ie" name="ie" value="" required>
            </div>                   
            
            

            <div class="input-group  mb-3">
                <span class="input-group-text">Código CSOSN</span>
                <select  class="form-select" id="id-csosn" name="csosnId" required>  
                    <option selected value=""></option>
                    <% csosns.forEach(function(csosn){  %>

                        <option value="<%=csosn.id%>"><%=csosn.csosn%> - <%=csosn.descricao%></option>


                    <% }) %>
                </select>
               
            </div>
            

            <div class="input-group  mb-3">
                <span class="input-group-text">Endereço </span>
                <input class="form-control" type="text" id="id-logradouro" name="logradouro" value="" placeholder="Informe nome da rua ou logradouro" required>
            </div>


            <div class="input-group  mb-3">
                <span class="input-group-text">Número </span>
                <input class="form-control" type="text" id="id-numero" name="numero" value="" placeholder="Informe número" required>
                <span class="input-group-text">CEP </span>
                <input class="form-control" type="text" id="id-cep" name="cep" value=""  placeholder="Informe CEP" required>
            </div>


            <div class="input-group  mb-3">
                <span class="input-group-text">Bairro </span>
                <input class="form-control" type="text" id="id-bairro" name="bairro" value="" placeholder="Informe bairro" required>
                <span class="input-group-text">Município </span>
                <input class="form-control" type="text" id="id-municipio" name="municipio" value="" placeholder="Informe município" required>
            </div>


                       
            <div class="col-12"> 
                <input class="button btn btn-sm btn-primary" type="submit" value="Salvar">
                <input class="button btn btn-sm btn-secondary" type="reset" value="Limpar">
                
            </div>
    
        </form>    
        
    </div>
      
    </main>



<%- include ('../partials/footer'); %>

<%- include ('../partials/down'); %>

<script>

// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()

</script>

<script>
    function showModal() {  
        let el = document.getElementById('modal-message')
        let modal = new bootstrap.Modal(el)
        modal.show()          
     }
</script>