<%- include ('../partials/top'); %>

<header><%- include ('../partials/navbar'); %></header>


    <main class="flex-container direction-column">

         
        <h1 class="text-center">Fiscal - Código de Situação da Operação no Simples Nacional</h1>

      
        <form action="/csosn/save" method="POST">

            <div class="form-group margin-top-10px">
                <label for="id-csosn" class="form-label">Código CSOSN</label>
                <input class="form-control" type="text" id="id-csosn" name="csosn"  required autofocus>
            </div>            
    
            <div class="form-group">
                <label for="id-descricao" class="form-label">Descicao</label>
                <input class="form-control" type="text" id="id-descricao" name="description" required>
            </div>

            <div class="form-group base-line margin-top-10px"> 
                
                <input class="button margin-left-30-por btn btn-primary" type="submit" value="Salvar">
                
            </div>
    
        </form>    
        
              
    </main>

    <article> <%- include ('../partials/menuFiscal.ejs'); %></article>

    <%- include ('../partials/footer'); %>

    <%- include ('../partials/down'); %>