<%- include ('../partials/top'); %>

<header><%- include ('../partials/menuProduto'); %></header>

    <main class="flex-container direction-column">

         
        <h1 class="text-center">RELAÇÃO DE PRODUTOS</h1>

      
        <table class="table table-hover">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">NCM</th>
                <th scope="col">CFOP</th>
                <th scope="col">CSOSN</th>
                <th scope="col">Descrição</th>
                <th scope="col">Custo</th>
                <th scope="col">Preço</th>
                <th scope="col">Unidade</th>
                <th scope="col">Editar</th>
                <th scope="col">Deletar</th>
            </thead>
            <tbody>  

        <% produtos.forEach(function(produto){  %>

                <tr>
                    <td><%=produto.id%></td>
                    <td><%=produto.ncm%></td>
                    <td><%=produto.cfop%></td>
                    <td><%=produto.csosn%></td>
                    <td><%=produto.descricao%></td>
                    <td><%=produto.custo%></td>
                    <td><%=produto.preco%></td>

                    <td><%=produto.unidade.descricao%></td>

                    <td class="ta-center"><a class="font-awesome color-edit" href="/produto/edit/<%=produto.id%>" 
                        ata-toggle="tooltip" title="Editar Unidade"></a></td>
                    <td class="ta-center"><a class="font-awesome color-delete" href="/produto/excluir/<%=produto.id%>" 
                        ata-toggle="tooltip" title="Excluir CFOP"
                        onclick="return confirm('Confirmar a Exclusão?')"></a></td>                                       
                </tr>
                </tr>
        <% }) %>
            </tbody>
        </table>
      
    </main>


    <%- include ('../partials/footer'); %>

    <%- include ('../partials/down'); %>