<%- include ('../partials/top'); %>

<header><%- include ('../partials/navbar'); %></header>


    <main class="flex-container direction-column">

         
        <h1 class="text-center">Altera Senha</h1>
      
            
        <form action="/user/resetPasswd" method="POST">
    


            <div class="form-group">
                <label for="id-nome" class="form-label">Nome</label>
                <input class="" type="hidden"  name="id" value="<%=user.id%>">
                <input class="form-control" type="text" readonly id="id-nome" name="nome" value="<%=user.nome%>" required>
            </div>

            <div class="form-group margin-top-10px">
                <label for="id-email" class="form-label">e-mail</label>
                <input class="form-control" type="text" readonly id="id-email" name="email" value="<%=user.email%>" required>
            </div>
    
            <div class="form-group margin-top-10px">
                <label for="id-nova-senha" class="form-label">Nova Senha</label>
                <input class="form-control" type="password" id="id-nova-senha" name="novaSenha" placeholder="Nova Sernha." autofocus>
            </div>
    

            <div class="form-group margin-top-10px">
                <label for="id-confirma-senha" class="form-label">Confirmar Nova Senha</label>
                <input class="form-control" type="password" id="id-confirma-senha" name="confirmaSenha" placeholder="Confirmar Nova Senha.">
            </div>


            <div class="form-group margin-top-10px">
                <label for="id-senha-atual" class="form-label">Senha Atual</label>
                <input class="form-control" type="password" id="id-senha-atual" name="senhaAtual" placeholder="Informe Senha Atual." required>
            </div>

            <div class="base-line margin-top-10px"> 
                <input class="campo-form" type="hidden" name="senhaBanco" value="<%=user.senha%>">
                <input class="button margin-left-30-por btn btn-primary" type="submit" value="Salvar">
            </div>
    
        </form>       

    </main>
    <%- include ('../partials/footer'); %>

    <%- include ('../partials/down'); %>