<%- include ('../partials/top'); %>

<header><%- include ('../partials/navbar'); %></header>


    <main class="flex-container direction-column">

         
        <h1 class="text-center">Unidade de medida para produtos</h1>

      
        <form action="/unity/edit" method="POST">
    
            <div class="form-group margin-top-10px">
                <label for="id-unity-id" class="form-label">Registro Unity</label>
                <input class="form-control" type="text" id="id-unity-id" readonly name="id" value="<%=unity.id%>" required>
            </div>

            <div class="form-group margin-top-10px">
                <label for="id-unity" class="form-label">Código Unity</label>
                <input class="form-control" type="text" id="id-unity" name="unity" value="<%=unity.unity%>" required>
            </div>            

            <div class="form-group">
                <label for="id-descricao" class="form-label">Descicao</label>
                <input class="form-control" type="text" id="id-descricao" name="description" value="<%=unity.description%>" required autofocus>
            </div>

            <div class="form-group margin-top-10px">
                <label for="id-unity-status" class="form-label">Status unity</label>
                <select  class="form-control" id="id-unity-status" name="status" >
                    <% if(unity.status==true) { %>
                        <option value=1 selected>Válido</option>
                        <option value=0>Inválido</option>
                    <% }
                        else { %> 
                            <option value=1>Válido</option>
                            <option value=0 selected>Inválido</option>
                        <% }; %>
                </select>
            </div>

            <div class="form-group base-line margin-top-10px"> 
                
                <input class="button margin-left-30-por btn btn-primary" type="submit" value="Editar">
                
            </div>
    
        </form>    
        
              
    </main>

    <article> <%- include ('../partials/menuProduct.ejs'); %></article>

    <%- include ('../partials/footer'); %>

    <%- include ('../partials/down'); %>